body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
h1{
    margin-top: 15px;
    font-weight:bolder !important ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(54, 54, 54);
}
.col-md-6{
    margin-top: 150px !important;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
      
}
input[type=button]{
    width: 100%;
    background-color: rgb(105, 105, 202);
color: white;
font-weight: bolder;
border: 3px solid black;
}
input[type=text]{
    width: 100%;

}