body{
    background-color: rgb(164, 253, 253);
}
#cheading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: greenyellow;
}


.col-md-6{
   background-color: rgb(81, 104, 97) !important;
   margin-top: 150px !important;
    padding: 20px !important;
    
}
#nheading{
    
    color: rgb(190, 114, 217);
}
.col-md-7{
    border: 5px solid greenyellow ;
    background-color: burlywood  !important;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}
