img{
    border-radius: 5px !important;
}
.col-md-3{
    margin-top: 30px !important;
   
}
p{
    font-weight: bold;
    font: 22px;
}
#navbar{
    background-color: rgb(85, 84, 84);
    
}
li{
    color: white;
    list-style-type: none;
    display: inline;
    margin-left: 15px !important;
}
#nav-elements{
    text-align: center;
padding: 18px !important;
}
#title{
    font-size: 30px;
}
.footer{
    background-color: aquamarine;
    text-align: center;
    color: white;
    padding: 10px;
}