body{
    height: 100vh;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.col-md-5{
    margin-top: 150px !important;
    background-color: white;
}
h1{
    text-align: center;
    font-weight: bold;
    margin: 20px !important;
} 
input{
    display: inline !important;
    border: 2px solid black !important;
   
    width: 80% !important;
}
button{
margin-left: 15px !important;
}
li{
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    width: 70% !important;
    display: inline;
    margin: 10px !important;
}
i{
    color: red;
    margin: 10px !important;
}